.filter-container {
  position: absolute;
  word-break: break-all;
  z-index: 4;
  margin-top: 1px;
}
.filter-function {
  float: left;
  width: 198px;
  height: 448px;
  overflow: auto;
  background-color: #ececec;
}
.filter-subfunction {
  display: inline-block;
  width: 198px;
  height: 448px;
  overflow: auto;
  z-index: 1;
  background-color: #f3f3f3;
}
.function-item, .subfunction-item {
  display: block;
  line-height: 40px;
  font-size: 12px;
  padding-left: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.function-item:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.subfunction-item:hover {
  cursor: pointer;
}
.function-selected {
  color: #00adef;
}
.subfunction-selected {
  background-color: #00adef;
  color: #ffffff;
}
.hovered {
  background-color: #f3f3f3;
}

.message-notify {
  position: absolute;
  right: 19px;
  display: inline-block;
  width: 8px;
  height: 8px;
  top: 15px;
  border-radius: 50%;
  background-color: #c6000e;
}
